.logo {
    margin: 15%;
    width: 100px;
}

.searchBook {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2% 0;
}

.matFormSearch {
    height: 100%;
    width: 500px;
    margin: 0 5%;
}

.rightBar {
    width: 300px;
    margin: 1%;
}